:root {
    --clr-primary: #112d4e;
    --clr-secondary: #3f72af;
    --clr-additional: #dbe2ef;
    --clr-bg: #f9f7f7;
}

html,
body {
    background-color: var(--clr-bg);
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--clr-additional);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-primary);
}

button:visited,
button:hover,
button:active,
button:focus {
    outline: none !important;
}

li {
    list-style-type: none;
}

.cnr {
    margin: 0;
}

a {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/* Login styles */
.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 50px 50px 50px 50px;
    padding: 20px;
    width: 500px;
    height: 450px;
    background-color: var(--clr-additional);
    border-radius: 10px;
}

.auth-form-register {
    width: 600px;
    height: 800px;
}

.auth-form .inp-txt{
    width: 400px;
}

.auth-form div{
    margin-bottom: 20px;
}

.auth-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 805px !important;
}

.auth-form .form-control {
    border: 1px solid black;
    width: 300px;
}

/* Edit wrapper */
.edit-wrapper {
    height: 805px !important;
    width: 100%;
}

.edit-form-wrapper {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--clr-additional);
    height: 620px;
}
.edit-form-wrapper div {
    margin-bottom: 20px;
}

.edit-form-wrapper .form-control {
    border: 1px solid black;
}


/* Navbar styles */
.nb {
    background-color: var(--clr-secondary);
}

    .nb a,
    .nb a:visited,
    .nb a:hover,
    .nb a:active,
    .nb a:focus {
        color: var(--clr-bg) !important;
        text-decoration: none !important;
    }

.nb-brand {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: var(--clr-bg);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nb-search-inp {
    background-color: var(--clr-bg);
    box-shadow: none;
    border: 0;
}

    .nb-search-inp:active .nb-search-inp:hover,
    .nb-search-inp:focus {
        background-color: var(--clr-bg);
        box-shadow: none;
        border: 0;
        outline: none;
    }

.nb-search-btn {
    background-color: var(--clr-bg) !important;
    border: 0;
}

.nb-anch {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.n-acrdn {
    background-color: var(--clr-additional) !important;
}

.n-acrdn-btn{
    display: none;
}

.n-acrdn-btn,
.n-acrdn-btn:active,
.n-acrdn-btn:hover,
.n-acrdn-btn:visited,
.n-acrdn-btn:focus {
    background-color: var(--clr-additional) !important;
    color: var(--clr-secondary) !important;
    font-size: 20px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: none;
    border: 0;
    padding: 0;
}

.n-acrdn a,
.n-acrdn a:visited,
.n-acrdn a:hover,
.n-acrdn a:active,
.n-acrdn a:focus {
    color: var(--clr-secondary) !important;
    font-size: 18px !important;
    text-decoration: none !important;
}

.n-acrdn-body {
    padding: 0;
}

/* Categories navigation styles */
.n-ctg {
    background-color: var(--clr-additional);
    color: var(--clr-primary);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .n-ctg p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

.ctg-anch {
    text-decoration: none;
    font-size: 18px;
}

/* Product list styles */
.n-prds {
}

.pl-cr {
    height: 32%;
    width: 100%;
}

.pl-col {
    background-color: var(--clr-additional);
    width: 31.5%;
    padding: 1%;
}

.pl-col-prc {
    height: 30px;
}

.pl-col-ttl {
    color: var(--clr-primary) !important;
    font-size: 18px !important;
}

.pl-img {
    height: 140px !important;
}

/* Modal styles */
.ml-lst {
    height: 60px !important;
    text-align: center;
}

.ml-lst p {
    margin: 0;
    padding: 0;
}

/* Product description styles */
.prd-dcrpn {
    margin: 15px;
    padding: 10px;
    font-size: 24px !important;
    color: var(--clr-secondary);
    background-color: var(--clr-additional);
}

/* Admin menu styles */
.am-pr-lst p {
    padding: 0;
    margin-top: 16px;
}

/* Admin menu product edit styles */
.btn-am-product-edit {
    height: 30px;
}

/* ~ Media querries ~ */
@media (max-width: 575.98px) {
    .prd-dcrpn {
        font-size: 15px !important;
    }

    .ml-lst {
        font-size: 12px;
    }

    .am-pr-lst{
        font-size: 10px;
    }

    .auth-form{
        font-size: 16px;
        width: 250px;
    }
    
    .auth-form .inp-txt {
        width: auto;
    }

        .auth-form .form-control {
            border: 1px solid black;
            width: 200px;
            font-size: 14px;
        }

    .hstack-wrapper{
        flex-direction: column !important;
        gap: 0.5rem !important;
    }

    .hstack .identity {
        flex-direction: column !important;
    }

    .nb-anch {
        font-size: 24px !important;
    }

    .n-acrdn-btn{
        display: block;
    }
}

@media (min-width: 768px) {
    .pl-cr {
        flex-direction: row !important;
    }
}

@media (max-width: 767.98px) {
    .n-ctg {
        width: 100%;
        height: 100% !important;
        min-height: auto !important;
    }

    .n-prds {
        width: 100vw;
    }

    .pl-col {
        margin: auto;
        width: 90%;
        height: 300px;
    }

    .pl-cr {
        height: 100% !important;
    }

    .edit-wrapper {
        margin-left: 0px !important;
    }
}

@media (max-width: 991.98px) {
    .nb-search {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 1199.98px) {
    .pl-img {
        height: 140px !important;
    }
}

@media (max-width: 1399.98px) {
}
